<% provide(:title, "Calendar") %>
<div id="calendar_courses_page">
  <% @courses = Course.all %>
  <% @courses_by_day = @courses.group_by(&:day_of_week) %>
  <% @date = params[:date] ? Date.parse(params[:date]) : Date.today %>
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @courses_by_day[date.wday]%>
      <ul>
        <% @courses_by_day[date.wday].sort_by{|c| c.start_time}.each do |course| %>
          <% if course.start_date <= date %>
            <li id='calender_link'>
              <%= course.start_time %> - <%= link_to course.title.titleize, course %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<div id="to_home_page"><%= link_to "<< Back To The Home Page", root_path %></div>
