<% provide(:title, 'All Teachers') %>
<%= render 'teachers/main_header' %>
<nav id='login_bar'>
  <h1>All Teachers</h1>
  <% if teacher_signed_in? %>
    <% if current_teacher.admin? %>
      <%= link_to 'Add A New Teacher', new_teacher_path, :class=>'new' %>
    <% end %>
  <% end %>
</nav>
<section id='main'>

    <%= will_paginate %>

    <ul class="teachers">
          <%= render @teachers %>
    </ul>

    <%= will_paginate %>

</section>
