<header "nav-logo">
      <div class = 'logo_container'>
        <%= link_to image_tag("creative_only.jpg", :alt => "Creative Art and Drawing Studio", :id => "logo"), root_path, id: "logo_button" %>
      <div>
      <nav id = 'login_bar'>
        <ul>
          <% if teacher_signed_in? %>
            <li><%= link_to "Teachers", teachers_path %></li>
            | <li><%= link_to "Courses", courses_path %></li>
            | <li><%= link_to "My page", current_teacher %></li>
            <% if current_teacher.admin? %>
              | <li><%= link_to "Settings", edit_teacher_path(current_teacher) %></li>
            <% end %>
            | <li>
              <%= link_to "Sign out", teachers_signout_path, method: "delete" %>
            </li>
          <% end %>
        </ul>
      </nav>
</header>
