<% provide(:title, "New Course") %>
<%= render 'courses/main_header' %>
<nav id='login_bar'>
  <h1>Add A New Course</h1>
</nav>
<section id='main'>
  <div class="row">
    <%= form_for @course do |f| %>

      <%= render 'shared/course_error_messages'%>

      <%= f.label :title %>
      <%= f.text_field :title, :placeholder => 'Title' %><br />

      <%= f.label :description %>
      <%= f.text_area :description, :placeholder => 'Description of the course' %><br />

      <%= f.label :start_date %>
      <%= f.text_field :start_date, :placeholder => 'Past dates = starting now' %><br />

      <%= f.label :start_time %>
      <%= f.text_field :start_time, :value => '10:30 AM'%>

      <%= f.submit "Create Course", class: "create_button" %>

    <% end %>
  </div>
</section>
